<head>
  <link rel="stylesheet" href="/dice.css" type="text/css"/>
  <title>Random Dice Generator</title>
</head>

<div class="title-div">
  <h1 class="title">2 Dice Roll Generator</h1>
</div>

<div class="die-print">
  <h1 class="die-num"><%= @random_dice_1 %> + <%= @random_dice_2 %> = <%= @total %> </h1>
</div>

<div class="die-generate">
  <form class="" action="/two_dice" method="post">
    <input type="submit" class="roll-button" value="Roll">
  </form>
</div>
